<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/contact.css">
  <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <header>
    <div class="header-content">
      <h1>Contact Us <i class="fa-solid fa-headset"></i></h1>
      <p>Get in touch with us for healthcare assistance and more.</p>
    </div>
  </header>
  <section class="contact-us">
    <div class="container">
      <h2>We’d Love to Hear from You</h2>
      <p>If you have any questions, need assistance, or want to provide feedback, feel free to reach out to us. We’re here to help you.</p>
      <br/>
      <div class="contact-details">
        <div class="contact-card">
          <h3>Healthcare +</h3>
          <p>Email: support@healthcarerural.com</p>
          <p>Phone: +011-265-6507</p>
          <p>Address: B-71, Tonk Village, Rajasthan, India</p>
        </div>

        <div class="contact-card">
          <h3>Emergency Services <i class="fa-solid fa-truck-medical"></i></h3>
          <p>For immediate medical assistance, please contact:</p>
          <p class="emergency-number">Ambulance: <strong>+011-265-6509 / +91 9875478390</strong></p>
        </div>
      </div>
  </section>

  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <h3>Healthcare +</h3>
          <p>Bridging the healthcare gap, one village at a time.</p>
        </div>
        <div class="footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="http://localhost:8080/about">About Us</a></li>
            <li><a href="http://localhost:8080/services">Services</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScb0XB1f-fZ9V1s3pH2HNeqEn6gKorcIZ91lEwb1uiY7xWDgA/viewform">Get Involved</a></li>
            <li><a href="http://localhost:8080/resources">Resources</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h4>Contact</h4>
          <p>Email: support@healthcarerural.com</p>
          <p>Phone: +011-265-6507</p>
          <p>Address: B-71, Tonk Village, Rajasthan, India</p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Healthcare+. All rights reserved.</p>
      </div>
    </div>
  </footer>

</body>
</html>
