<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Successful</title>
  <link rel="stylesheet" href="/screen.css">
  <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <section class="success-page">
    <div class="container">
      <div class="success-content">
        <h1>Successfully Logged In! <i class="fa-regular fa-circle-check"></i></h1>
        <p>Welcome back! Choose an option below to proceed:</p>
        <div class="button-container">
          <a href="http://localhost:8080/login/timetable" class="action-button">Time Table of Doctors <i class="fa-regular fa-calendar-days"></i></a>
          <a href="http://localhost:8080/login/booking" class="action-button">Bookings / Consultations <i class="fa-solid fa-calendar-check"></i></a> 
          <a href="http://localhost:8080/login/billing" class="action-button">Bill / Receipt Generate <i class="fa-solid fa-money-bills"></i></a>
          <a href="http://localhost:8080/login/showbills" class="action-button">Show all Bills & Receipts <i class="fa-solid fa-receipt"></i></a>
          <a href="http://localhost:8080/blood-donatelist" class="action-button3">Blood Donor's List <i class="fa-solid fa-droplet"></i></a>
          <a href="http://localhost:8080/login/showvolunteer" class="action-button2">Applied application's of Volunteer's <i class="fa-solid fa-users"></i></a>

          
          <a href="http://localhost:8080/logout-successfully" class="action-button1">Log out <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
