<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment Confirmed</title>
  <link rel="stylesheet" href="/success.css">
  <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <section class="success-page">
    <div class="container">
      <div class="success-content">
        <h1>Appointment Booked Successfully! <i class="fa-solid fa-clock"></i></h1>
        <p>Thank you for scheduling your appointment.</p>
        <p>If you have any questions, please feel free to contact us. <i class="fa-solid fa-phone-volume"></i></p>
        <a href="http://localhost:8080/home" class="back-button">Go Back to Home</a>
      </div>
    </div>
  </section>

</body>
</html>
